# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Mac
.DS_Store

# Minecraft
run/
logs/

# Other
*.log
*.lock
